/*CSS reset*/
 * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
 }

body{ background-color: rgb(206, 206, 206);
font-family: sans-serif;}

/*Header*/
#logo{padding-left: 15px;
padding-top: 14px;
background-color: white;
padding-bottom: 10px;}

#title{display: inline-block;
font-family: sans-serif;
font-size: 55px;;
line-height: 50%;}
 
/*Buttons*/
#task-but{
    background-color: rgb(33, 143, 216);
    border-color: rgb(33, 143, 216);
    border-radius: 7px;
    color: white;
    width: 75px;
    height: 35px;}

 #section-but{ border-radius: 7px;
        width: 75px;
        height: 35px;
     color: gray;
    }
 
     #buttons{margin-left:380px;
    margin-right: 380px;
        background-color: white;
margin-bottom:100px;
    margin-top: 100px;
border-radius: 10px;}


/* Main Content*/
ul{margin-left: 150px;
}

hr{height: 1px;
color: gray}

 

